:root{

  --dark-orange: #FF5823;
 --hover-link:rgb(218, 250, 159);
  --light-green: rgb(202, 240, 199);
  --link-color:rgb(62, 228, 12);
  --project-dec:rgb(15, 252, 181);
  --tech:rgb(252, 157, 15);
  --home-animination:aqua;
  --heading:rgb(240, 19, 103);
}
